@model Universities
        <div class="well">
            <div class="row">
                <div >
                    <a class="w3-btn w3-white w3-border w3-round-large col-sm-6" href="User">User Registration</a>
                    <a class="w3-btn w3-white w3-border w3-round-large col-sm-6" href="Universities">University Registration</a>
                    <br><br>
                </div>
                <div>
                    <img src="~/images/b2.jpg" alt="ASP.NET" class="img-responsive" />
                </div>
            </div>
        </div>


    <!-- <div class="modal fade"e4 id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">University Registration</h5>
                </div>
                <div class="modal-body">
                    <form action="/AddUniversity" method="post">
                        <div class="form-group">
                            <label>University Name:</label>
                            <input type="text" name="Name" placeholder="University Name" class="form-control"/>
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="form-group">
                            <label>Location:</label>
                            <input type="text" name="Location" placeholder="Location..." class="form-control"/>
                            <span asp-validation-for="Location"></span>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </form>                    
                </div>
            </div>
        </div>
    </div> -->

