

<div class="well">
    <!-- <div class="jumbotron">
        <h2>University Database </h2>
    </div> -->

    <div class="row">
        <div class="col-sm-12">
            <partial name="FirstPage.cshtml"></partial>
        </div>
    </div>
</div>





    <!-- <div class="col-sm-6">
        <h3>Faculty</h3>
        <partial name="Faculty.cshtml"></partial>    
    </div> -->
    <!-- <div class="col-sm-12">
        <h3>Courses</h3>
        <partial name="Course.cshtml"></partial>
    </div>
    <div class="col-sm-12">
        <h3>Instructor</h3>
        <partial name="Instructor.cshtml"></partial>
    </div>
    <div class="col-sm-12">
        <h3>Student</h3>
        <partial name="Student.cshtml"></partial>
    </div> -->
