@model User

<form action="/saveUser" method="post" class="well">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>First Name:</label>
                <input type="text" name="FName" placeholder="First Name" class="form-control"/>
                <span asp-validation-for="FName"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Last Name:</label>
                <input type="text" name="LName" placeholder="Last Name..." class="form-control"/>
                <span asp-validation-for="LName"></span>
            </div>  
        </div>        
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Email:</label>
                <input type="text" name="Email" placeholder="Email..." class="form-control"/>
                <span asp-validation-for="Email"></span>
            </div>  
        </div>
    </div>
    <div class="row">      
        <div class="col-sm-6">
            <div class="form-group">
                <label>Date Enrolled:</label>
                <input type="password" name="Password" placeholder="Password" class="form-control"/>
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Date Enrolled:</label>
                <input type="password" name="Confirm" placeholder="Confirm Password" class="form-control"/>
                <span asp-validation-for="Confirm"></span>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />
</form> 